*{
    margin: 0;
    padding: 0;
}
.maindiv{
    width: 1000px;
    margin: 30px auto;
    text-align: center;
    border: 2px solid green;
}
.extra{
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}
.div1 {
	transform: rotate(125deg);
}
.div2 {
	transform: scaleY(1.3);
}
.div3 {
	transform: skew(30deg, 20deg);
}
.div4 {
	transform: translate(186px,31px);
}

.maindiv2{
    width: 1000px;
    margin: 60px auto;
    text-align: center;
    border: 2px solid rgb(240, 5, 189);
}

.extra2{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 192, 16);
    margin: 10px;
    display: inline-block;
    transition: .6s;
    cursor: pointer;
}
.div5:hover{
transform: rotate(90deg);
}
.div6:hover {
	transform: scale(1.5);
}
.div7:hover{
    transform: translate(40px, 60px);
}
.div8:hover {
	transform: skew(57deg,52deg);
}

.imgdiv{
    width: 600px;
    margin: 50px auto;
    border: 2px solid red;
    padding: 40px;
    cursor: pointer;
}
.imgdiv img{
    max-width: 100%;
    transition: .6s;
}

.imgdiv img:hover{
    transform:scale(1.4) rotate(360deg);
}